
.container {
    display: flex;
    width: 1140px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 601px;
    height: 437px;
    &__block {
        padding: 100px;
        background-color: #334a6b;
        width: 100px;
        text-align: center;
    }
    &-second {
        margin-left: 1px;
        display: flex;
        width: 392px;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        height: 437px;
        &__block {
            height: 65px;
            padding: 40px;
            background-color: #334a6b;
            width: 50px;
            text-align: center;
        }
    }
}
