
* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    &__block {
        padding: 11%;
        width: 100%;
        height: 50%;
        background: rgb(247, 157, 158);
        display: flex;
        z-index: 1;
        position: relative;
        &-second {
            display: flex;
            z-index: 10;
            background: rgb(251, 213, 146);
            padding: calc(19% + 12px);
            position: absolute;
            width: 70%;
            top: 0;
            right: 0;
        }
        &-descr {
            position: absolute;
            top: 5%;
            left: 5%;
            margin-right: 20px;
            overflow: hidden;
        }    
    }
    &__border {
        border: 2px solid;
        border-color: black;
        width: 400px;
        height: 200px;
        border-radius: 2%;
        margin-right: 20px;
        display: inline;
        float: left;
    }
    &__text {
        width: 10%;
    }
}

header {
    height: 100px;
    background: #bbdeff;
    padding: 63px 0 70px 0;
}

.end {
    min-height: 300px;
    background: #bbdeff;
    padding: 20px 0 30px 0;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
    &-wrapper {
        width: 33%;

        &__block {
            background: #7f9bb2;
            width: 95%;
            height: 132px;
            margin-left: 17px;
            text-align: center;
            margin-top: 20px;
        }
    }
}

